.hero-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/hero_pets.jpg');
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  max-width: 1440px;
  min-height: clamp(360px, 55vw, 650px);
  padding: clamp(20px, 4vw, 30px) clamp(16px, 6vw, 85px);
  margin: 0 auto;
  position: relative;
}



.hero-content h1 {
  color: #fff;
  font-size: clamp(25px, 9.6vw, 96px);
  font-weight: 700;
  line-height: clamp(35px, 10vw, 105.6px);
  text-align: left;
  margin-bottom: 3.572%;
  width: 99%;
}

.hero-btn {
  background: #0d50ff;
  border-radius: 6px;
  color: #fff;
  font-family: Montserrat;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  padding: clamp(12px, 2vw, 16px) clamp(32px, 5vw, 56px);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: start; 
  text-decoration: none;

}

.hero-btn:hover {
  background: #282828;
}

@keyframes fadelnBlur {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}